{{ define "main" }}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/lunr.js"></script>
<script src="js/lunr.stemmer.support.js"></script>
<script src="js/tinyseg.js"></script>
<script src="js/lunr.ja.js"></script>
<script src="js/lunr.multi.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>

<form class="full-text-search-form" action="{{  .RelPermalink }}" onkeyup="search()">
  <input id="search-query" placeholder="サイト内検索" name="query" autocomplete="off" search autofocus/>
</form>

<ul id="results">

<!-- is-fullheight-with-navbar is-bold is-light -->
<section class="hero has-text-centered">
    <br><br><br>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                {{ .Title }}
            </h1>
            <h1 class="subtitle is-2">
                {{ .Params.Subtitle }}
            </h1>
            <h1 class="subtitle is-5">
                {{ with .Content }}
                {{ . }}
                {{ end }}
            </h1>
        </div>
    </div>
</section>

{{- partial "index/tag-bullet.html" . -}}
{{- partial "index/section-bullet.html" . -}}
{{- partial "index/list-blog-brief.html" . -}}

{{ end }}