{{ define "main" }}

<div class="content blog">
    <h1>{{ .Title | title }}</h1>

    <div id="infobar" class="level is-mobile">
        <div class="level-left">
            {{ if or .Params.showDate .Site.Params.showDate }}
            <div class="level-item">
                <p class="auther info">
                        著者:  
                        {{ .Params.auther }}
                        発行日:
                        {{ .Params.paperPublished }}
                </p>
            </div>
            {{ end }}

           
        </div>
        <div class="level-right is-hidden-touch">
            <div class="tags">
                {{ range .Params.tags }}
                <a class="tag is-dark is-rounded" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . | title }}</a>
                {{ end }}
            </div>
        </div>
        <br>

    </div>

    <div class="tags is-hidden-desktop">
        {{ range .Params.tags }}
        <a class="tag is-dark is-rounded" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . | humanize }}</a>
        {{ end }}
    </div>

    <div class="level-left">
        <a href="{{ .Params.links }}" target="_blank">
            <h4>原本pdfはここをクリック</h4>
        </a>
    </div>
    
    <div class="blog-text">
        {{ with .Params.image }}
        <figure>
            <img src="{{ . | relURL }}">
        </figure>
        {{ end }}

        {{ .Content }}
    </div>
</div>
<div class="level-item">
    <p class="contributer info">
        Posted by  
        {{ .Params.contributer }} @ 
        {{- .Date.Format "Jan 2, 2006" }}
    </p>
</div>
{{- partial "social-media-share.html" . -}}
<br>
{{ partial "disqus.html" . }}

{{ end }}